@font-face {
    font-family: "camingocode";
    src: "./camingocode.ttf";
}
:root {

    --md-code-font: "camingocode"; 
}
  
.md-footer__inner{
	visibility:hidden;
	display:none;
	width:0;
	height:0;
}

.md-sidebar{
    width: 10rem;
}

.md-typeset code{
    font-size: .85em;
}

.md-nav__item label{
    font-size: 1.1em;
    font-family: "camingocode";
    margin-left: -0.7em;
}

#coverimg{
	transition: 0.5s;
}

#coverimg:hover{
    transform: scale(0.9);
}